.container{
    margin: 0 auto;
    width: 86%;
    position: relative;
    top: 35%;
    &__slider{
        appearance: none;
        //mexe na barra
        &[type=range] { 
            cursor: pointer;
            margin-right: 15px;
            width: 100%;
            height: 8px;
            background: hsl(224, 65%, 95%);
            border-radius: 50px;
            //mexe na cor da esquerda
            background-image: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%));
            background-repeat: no-repeat;
            
        }
        // chrome
        &[type=range]::-webkit-slider-thumb {
            display: flex;
            flex-direction: column;
            text-align: center;
            appearance: none;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: hsl(174, 86%, 45%);
            // seta da bolinha
            background-image: url("../../../public/imgs/icon-slider.svg");
            background-repeat:no-repeat;
            background-position: center;
            background-size: 25px;
           
            transition: all 0.3s;
            &:hover{
                box-shadow: 1px 8px 30px hsl(174, 86%, 45%);
                transition: all 0.3s;
            }
            &:active{
                background-color: hsl(174, 86%, 35%);
                transition: all 0.3s;
            }
        }
        // mozila
        &[type=range]::-moz-range-thumb {
            display: flex;
            flex-direction: column;
            text-align: center;
            appearance: none;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: hsl(174, 86%, 45%);
            background-image: url("../../../public/imgs/icon-slider.svg");
            background-repeat:no-repeat;
            background-position: center;
            background-size: 25px;
        }
        // IE
        &[type=range]::-ms-thumb {
            display: flex;
            flex-direction: column;
            text-align: center;
            appearance: none;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: hsl(174, 86%, 45%);
            background-image: url("../../../public/imgs/icon-slider.svg");
            background-repeat:no-repeat;
            background-position: center;
            background-size: 25px;
        }
       
    }
    @media (max-width:750px) {
        top: -7%; 
    }   
}