@font-face {
    font-family: 'Manrope Bold';
    src: url('../fonts/Manrope/Manrope-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope/Manrope-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}




  
  